node_modules/
dist/
test/

.git/
.gitignore

.env
.env.*

eslint.config.mjs
nest-cli.json
tsconfig.build.json
.prettierrc

npm-debug.log
yarn-error.log
*.md

Dockerfile
docker-compose.yml
.dockerignore